<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ADONETSamples" connectionString="Data Source=DANA-MSI\SQLINSTALL_1;Initial Catalog=BicycleStoresCorp;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
    <add name="CST324LAB5_Dana_Posey.Properties.Settings.BicycleStoresCorpConnectionString"
      connectionString="Data Source=DANA-MSI\SQLINSTALL_1;Initial Catalog=BicycleStoresCorp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>